.inputComponent {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.inputComponent_input {
  height: 40px;
  border-color: var(--primary-color);
  font-size: 16px;
  /*margin: 10px;*/
  padding: 5px;
  border-width: 3px;
}

.inputComponent_label {
  height: 20px;
  border-color: var(--primary-color);
  font-size: 16px;
  margin-bottom: 4px;
}

.inputComponent_error {
  height: 10px;
  font: var(--error-color);
  font-size: 16px;
  /*margin: 10px;*/
}

.inputComponent_input_error {
  border-color: var(--error-color);
}

.inputComponent_label_error {
  color: var(--error-color);
}
