.loadingComponent {
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: var(--main-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingComponent_title {
  color: var(--primary-color);
}
